/**
 * Icons
 */
#page-title .path-admin-config-system-vcaching span.icon {
    width:35px;
    height:30px;
    display:block;
    background-color:transparent;
    background-image:url(images/icon.png);
    background-repeat:no-repeat;
    background-position: 0px 0px;
}

#block-system-main .path-admin-config-system-vcaching span.icon {
    width:35px;
    height:30px;
    display:block;
    background-color:transparent;
    background-image:url(images/icon.png);
    background-repeat:no-repeat;
    background-position: 0px 0px;
}